.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparents;
  padding: 15px 27%;
}

.logo{
  width: 250px;
}

.navigation{
  flex: 1;
  list-style: none;
  text-align: center;
}

.navigation li{
  display: inline-block;
  margin: 10px 20px;
  font-size: 28px;
  cursor: pointer;
  flex-wrap: wrap;
}

.button{
  color: white;
}

/**/

.new-workout{
  max-width: 600px;
  margin: 0 auto;
  color: white; 
}

.new-workout h2{
  margin-bottom: 20px;
}

.new-workout form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.new-workout form input[type="text"]{
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
}

.new-workout form button{
  flex: 1;
  padding: 10px;
  background-color: gold;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.new-workout form button:hover{
  background-color: grey;
}

/**/


/* .search-box {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px 20px;
  border-radius: 50px;
}
.search-box input {

.search-box input {
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: black;
  font-size: 28px;
  max-width: 200px;
} */
